$spacing-base: 4px !default;
$spacing-0: $spacing-base * 0 !default;
$spacing-1: $spacing-base * 0.5 !default;
$spacing-2: $spacing-base * 1 !default;
$spacing-3: $spacing-base * 2 !default;
$spacing-4: $spacing-base * 3 !default;
$spacing-5: $spacing-base * 4 !default;
$spacing-6: $spacing-base * 5 !default;
$spacing-7: $spacing-base * 6 !default;
$spacing-8: $spacing-base * 8 !default;
$spacing-9: $spacing-base * 10 !default;
$spacing-10: $spacing-base * 12 !default;

$spacing-map: (
	0: $spacing-0,
	1: $spacing-1,
	2: $spacing-2,
	3: $spacing-3,
	4: $spacing-4,
	5: $spacing-5,
	6: $spacing-6,
	7: $spacing-7,
	8: $spacing-8,
	9: $spacing-9,
	10: $spacing-10,
) !default;
