// customizable scss variables
$layout-spacing-base: 4px !default;
$layout-spacing-map: (
	0: $layout-spacing-base * 0,
	1: $layout-spacing-base * 0.5,
	2: $layout-spacing-base * 1,
	3: $layout-spacing-base * 2,
	4: $layout-spacing-base * 3,
	5: $layout-spacing-base * 4,
	6: $layout-spacing-base * 5,
	7: $layout-spacing-base * 6,
	8: $layout-spacing-base * 8,
	9: $layout-spacing-base * 10,
	10: $layout-spacing-base * 12,
) !default;

// set all spacing css variables
@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
	:root {
		--layout-spacing-#{ $layout-spacing-key }: #{ $layout-spacing-value };
	}
}

$layout-debug-color-map: (
	LayoutAbsolute: Crimson,
	LayoutAlign: Coral,
	LayoutColumns: Chocolate,
	LayoutFlexColumn: CadetBlue,
	LayoutFlexRow: ForestGreen,
	LayoutGrid: SlateGrey,
	LayoutList: Navy,
	LayoutListInline: BlueViolet,
);
