@import 'layoutMixin';
.#{ $layout-css-class-prefix }-list {
	--#{ $layout-css-variable-prefix }-list-gap: 0px;
	display: grid;
	gap: var(--#{ $layout-css-variable-prefix }-list-gap);

	&--horizontal-align-left {
		justify-items: start;
	}
	&--horizontal-align-center {
		justify-items: center;
	}
	&--horizontal-align-right {
		justify-items: end;
	}

	@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
		$gap-size: var(--#{ $layout-css-variable-prefix }-spacing-#{ $layout-spacing-key });
		&--gap-#{ $layout-spacing-key } {
			--#{ $layout-css-variable-prefix }-list-gap: #{ $gap-size };
		}
	}

	@include debug-highlight('LayoutList', blue);
}
