@import 'layoutMixin';
.layout-flex-row {
	--layout-flex-row-gap: 0px;
	display: flex;

	&__left, &__right {
		flex: 0 0 auto;
	}
	&__left {
		margin-right: var(--layout-flex-row-gap);
	}
	&__right {
		margin-left: var(--layout-flex-row-gap);
	}
	&--no-remain > &__left {
		margin-right: calc(0.5 * var(--layout-flex-row-gap));
	}
	&--no-remain > &__right {
		margin-left: calc(0.5 * var(--layout-flex-row-gap));
	}
	&__remain {
		flex: 1 1 auto;
		min-width: 0;
	}
	&--vertical-align-default > &__left,
	&--vertical-align-default > &__right,
	&--vertical-align-default > &__remain {
		@include content-fill-height(auto);
	}
	&--vertical-align-top {
		align-items: flex-start;
	}
	&--vertical-align-center {
		align-items: center;
	}
	&--vertical-align-bottom {
		align-items: flex-end;
	}

	@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
		$gap-size: var(--layout-spacing-#{ $layout-spacing-key });
		&--gap-#{ $layout-spacing-key } {
			--layout-flex-row-gap: #{ $gap-size };
		}
	}

	@include debug-highlight('LayoutFlexRow');
}
