@import 'layoutMixin';
.layout-flex-column {
	--#{ $layout-css-variable-prefix }-flex-column-gap: 0px;
	display: flex;
	flex-direction: column;

	&__top, &__bottom {
		flex: 0 0 auto;
	}
	&__top {
		margin-bottom: var(--#{ $layout-css-variable-prefix }-flex-column-gap);
	}
	&__bottom {
		margin-top: var(--#{ $layout-css-variable-prefix }-flex-column-gap);
	}
	&__remain {
		flex: 1 1 auto;
	}
	&--horizontal-align-left {
		align-items: flex-start;
	}
	&--horizontal-align-center {
		align-items: center;
	}
	&--horizontal-align-right{
		align-items: flex-end;
	}

	@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
		$gap-size: var(--#{ $layout-css-variable-prefix }-spacing-#{ $layout-spacing-key });
		&--gap-#{ $layout-spacing-key } {
			--#{ $layout-css-variable-prefix }-flex-column-gap: #{ $gap-size };
		}
	}

	@include debug-highlight('LayoutFlexColumn', yellow);
}
