@import 'layoutMixin';
.layout-list {
	--layout-list-gap: 0px;
	display: grid;
	grid-template-columns: minmax(0, auto); // set column min-width = 0
	gap: var(--layout-list-gap);

	&--horizontal-align-left {
		justify-items: start;
	}
	&--horizontal-align-center {
		justify-items: center;
	}
	&--horizontal-align-right {
		justify-items: end;
	}
	&--horizontal-align-default,
	&--horizontal-align-stretch {
		justify-items: stretch;
	}

	@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
		$gap-size: var(--layout-spacing-#{ $layout-spacing-key });
		&--gap-#{ $layout-spacing-key } {
			--layout-list-gap: #{ $gap-size };
		}
	}

	@include debug-highlight('LayoutList');
}
