@import 'layoutMixin';
.layout-align {
	display: grid;
	grid-template-columns: minmax(0, auto); // set column min-width = 0
	&--vertical-align-top {
		align-content: start;
	}
	&--vertical-align-center {
		align-content: center;
	}
	&--vertical-align-bottom {
		align-content: end;
	}
	&--horizontal-align-left {
		justify-content: start;
	}
	&--horizontal-align-center {
		justify-content: center;
	}
	&--horizontal-align-right {
		justify-content: end;
	}

	@include debug-highlight('LayoutAlign');
}
