@import 'layoutMixin';
.layout-flex-row {
	--layout-flex-row-gap: 0px;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr auto;
	gap: var(--layout-flex-row-gap);

	&--no-left {
		grid-template-columns: 1fr auto;
	}
	&--no-right {
		grid-template-columns: auto 1fr;
	}
	&--no-remain {
		grid-template-columns: auto minmax(var(--layout-flex-row-gap), 1fr) auto;
		gap: 0;
	}
	&__remain {
		@include content-fill-width;
	}

	// vertical align
	&--vertical-align-default,
	&--vertical-align-top {
		align-items: start;
	}
	&--vertical-align-center {
		align-items: center;
	}
	&--vertical-align-bottom {
		align-items: end;
	}
	&--vertical-align-stretch > &__left,
	&--vertical-align-stretch > &__right,
	&--vertical-align-stretch > &__remain {
		@include content-fill-height(auto);
	}

	@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
		$gap-size: var(--layout-spacing-#{ $layout-spacing-key });
		&--gap-#{ $layout-spacing-key } {
			--layout-flex-row-gap: #{ $gap-size };
		}
	}

	@include debug-highlight('LayoutFlexRow');
}
