@import 'layoutMixin';
.layout-align {
	display: grid;
	grid-template-columns: minmax(0, auto); // set column min-width = 0

	// horizontal align
	&--horizontal-align-left {
		justify-content: start;
	}
	&--horizontal-align-center {
		justify-content: center;
	}
	&--horizontal-align-right {
		justify-content: end;
	}
	&--horizontal-align-default,
	&--horizontal-align-stretch {
		justify-content: stretch;
	}
	&--horizontal-align-default > &__content,
	&--horizontal-align-stretch > &__content {
		@include content-fill-width(auto);
	}

	// vertical align
	&--vertical-align-default,
	&--vertical-align-top {
		align-content: start;
	}
	&--vertical-align-center {
		align-content: center;
	}
	&--vertical-align-bottom {
		align-content: end;
	}
	&--vertical-align-stretch {
		align-content: stretch;
	}
	&--vertical-align-stretch > &__content {
		@include content-fill-height(auto);
	}

	@include debug-highlight('LayoutAlign');
}
