@import 'layoutMixin';

@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
	$spacing-size: var(--layout-spacing-#{ $layout-spacing-key });
	.layout-u {
		&-m-#{ $layout-spacing-key } {
			margin: $spacing-size;
		}
		&-p-#{ $layout-spacing-key } {
			padding: $spacing-size;
		}
	}
}

@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
	$spacing-size: var(--layout-spacing-#{ $layout-spacing-key });
	.layout-u {
		&-mx-#{ $layout-spacing-key } {
			margin-left: $spacing-size;
			margin-right: $spacing-size;
		}
		&-my-#{ $layout-spacing-key } {
			margin-top: $spacing-size;
			margin-bottom: $spacing-size;
		}
		&-px-#{ $layout-spacing-key } {
			padding-left: $spacing-size;
			padding-right: $spacing-size;
		}
		&-py-#{ $layout-spacing-key } {
			padding-top: $spacing-size;
			padding-bottom: $spacing-size;
		}
	}
}

@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
	$spacing-size: var(--layout-spacing-#{ $layout-spacing-key });
	.layout-u {
		@each $side-key, $side-name in (
			t: top,
			b: bottom,
			l: left,
			r: right
		) {
			&-m#{ $side-key }-#{ $layout-spacing-key } {
				margin-#{ $side-name }: $spacing-size;
			}
			&-p#{ $side-key }-#{ $layout-spacing-key } {
				padding-#{ $side-name }: $spacing-size;
			}
		}
	}
}

.layout-u-content-fill-height {
	@include content-fill-height;
}

.layout-u-position-relative {
	position: relative;
}
