@each $layout-spacing-key, $layout-spacing-value in $layout-spacing-map {
	$spacing-size: var(--#{ $layout-css-variable-prefix }-spacing-#{ $layout-spacing-key });

	// x & y sides
	.layout-u {
		&-m-#{ $layout-spacing-key } {
			margin: $spacing-size;
		}
		&-mx-#{ $layout-spacing-key } {
			margin-left: $spacing-size;
			margin-right: $spacing-size;
		}
		&-my-#{ $layout-spacing-key } {
			margin-top: $spacing-size;
			margin-bottom: $spacing-size;
		}
		&-p-#{ $layout-spacing-key } {
			padding: $spacing-size;
		}
		&-px-#{ $layout-spacing-key } {
			padding-left: $spacing-size;
			padding-right: $spacing-size;
		}
		&-py-#{ $layout-spacing-key } {
			padding-top: $spacing-size;
			padding-bottom: $spacing-size;
		}
	}

	// each sides
	@each $side-key, $side-name in (
		t: top,
		b: bottom,
		l: left,
		r: right
	) {
		.layout-u-m#{ $side-key }-#{ $layout-spacing-key } {
			margin-#{ $side-name }: $spacing-size;
		}
		.layout-u-p#{ $side-key }-#{ $layout-spacing-key } {
			padding-#{ $side-name }: $spacing-size;
		}
	}
}

.layout-u-content-fill-height {
	display: flex;
	> *:first-child:last-child {
		flex: 1;
		height: auto;
	}
}

.layout-u-position-relative {
	position: relative;
}
